:root {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(234, 30%, 18%);
  --clr-btn: hsl(0, 100%, 70%);
  --clr-span: hsl(210, 14%, 58%);
  --clr-rp: hsl(194, 57%, 95%);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 1.875rem;
  --fs-800: 2.75rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-600);
  --fs-navbar: var(--fs-500);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-footer: var(--fs-400);
}
/* MODERN DAY CSS RESETS  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background: var(--clr-primary);
  font-family: "Montserrat", sans-serif;
}
header .navbar {
  border: 1px solid red;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0.5rem 0 0.5rem;
}
header .navbar .list {
  display: flex;
}
.navbar .list li {
  list-style: none;
  font-size: var(--fs-500);
  margin: 1.5rem;
}
.navbar .list li a {
  text-decoration: none;
  font-weight: var(--fw-semi-bold);
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000 !important;
}
.hero-section {
  padding: 3rem;
}
.even-columns {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.even-columns .right h1 {
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-bold);
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}

.even-columns .right p {
  margin-top: 1.3rem;
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);
  padding: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}
.even-columns .right button {
  outline: none;
  border: none;
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  margin-top: 1.2rem;
}
.even-columns .right .btn {
  padding: 15px;
  background: var(--clr-btn);
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
.even-columns .left {
  max-width: 450px;
  width: 100%;
  border-radius: 50%;
}
.even-columns .left img {
  border-radius: 50%;
  box-shadow: 10px solid transparent;
  padding: 20px;
  margin-left: 20px;
}

.main {
  height: 550px;
  background: var(--clr-rp);
}
.main .wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.main .recent-post {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .recent-post p {
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
}
.main .recent-post a {
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);
  text-decoration: none;
  color: #00a8cc;
}
.even-columns2 {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.main .posts {
  display: flex;
  gap: 20px;
}
.main .posts .post-item {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 23px;
}
.posts .post-item header {
  font-weight: var(--fw-bold);
}
.posts .post-item header h3 {
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
  margin-bottom: 20px;
}
.posts .post-item .meta {
  display: flex;
  gap: 22px;
  align-items: center;
  margin-bottom: 20px;
  font-weight: var(--fw-regular);
  font-size: var(--fs-500);
  line-height: 26px;
  color: #21243d;
}

.posts .post-item p {
  font-weight: var(--fw-regular);
  font-size: var(--fs-500);
  line-height: 24px;
  color: #21243d;
}
.featured-section-inner {
  max-width: 960px;
  margin: 0 auto;
}
.featured-section {
  background: #fff;
  padding: 32px 0;
}

/* FEAUTRED SECTION STYLES */

.featured-section .fs-header h3 {
  font-weight: var(--fw-regular);
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
  margin-bottom: 22px;
}

.fs-list .fs-item {
  display: flex;
  gap: 18px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 35px;
  margin-bottom: 30px;
}
.fs-list .fs-item-left img {
  border-radius: 6px;
}
.fs-list .fs-item-right h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
  margin-bottom: 16px;
}

.fs-item .item-meta {
  display: flex;
  text-align: center;
  gap: 26px;
}
.item-meta .badge {
  width: 60px;
  height: 25px;
  font-weight: var(--fw-bold);
  font-size: 18px;
  color: #ffffff;
  background: #142850;
  border-radius: 16px;
  text-align: center;
}
.item-meta .category {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}
.fs-item .fs-item-right .description {
  margin-top: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}
.container {
  width: 100%;
}
.container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.container .li-elements {
  margin-bottom: 22px;
}
.container ul li a {
  color: #fff;
}
.container .para {
  display: flex;
  align-items: center;
  justify-content: center;
}
.para p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243d;
  margin-top: 25px;
  margin-bottom: 50px;
}

/* RESPONSIVE MEDIA QUERIES HERE 👇 */
